/* General dark mode styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Weather Container */
.weather-container {
    background: rgb(14, 179, 255);
    padding: 10px;
    border-radius: 40px;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s ease-in-out;
}

.weather-icon {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}


/* Weather Box */
.weather-box {
    padding: 120px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

/* Input & Button */
.input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #ffffffe2;
    color: black;
}

.weather-container h1 {
    color: color-mix(in srgb-linear, rgb(0, 251, 255) 50%, rgb(255, 255, 255) 50%);
}

;

/*Weather background changes*/
.background-default {
    background: linear-gradient(to bottom, #ffffff, #63b9ff);
    transition: background 0.5s ease-in-out;
}

.background-clear {
    background: linear-gradient(to bottom, #ffd900e1, #ffa600d6);
    transition: background 0.5s ease-in-out;
    /* Sunny */
}

.background-clouds {
    background: linear-gradient(to bottom, #B0C4DE, #708090);
    transition: background 0.5s ease-in-out;
    /* Cloudy */
}

.background-rain {
    background: linear-gradient(to bottom, #778899, #2F4F4F);
    transition: background 0.5s ease-in-out;
    /* Rainy */
}

.background-snow {
    background: linear-gradient(to bottom, #FFFFFF, #B0E0E6);
    transition: background 0.5s ease-in-out;
    /* Snowy */
}


button {
    padding: 10px 15px;
    background: rgb(0, 77, 145);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #b9dbffd0;
    color: black;
}

/* Weather Info */
.weather-info {
    margin-top: 15px;
}

.weather-info h3 {
    font-size: 25px;
    color: black;
    font-weight: bold;
}

.weather-info p {
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.temperature {
    font-size: 5px;
    font-weight: bold;
}

.message {
    font-size: 1rem;
    color: gray;
}